<h1>Преподаватели</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.id %></td>
        <td><%= professor.name %></td>
        <td><%= link_to 'Показать', professor, class: 'btn btn-mini btn-default' %></td>
        <td><%= link_to 'Редактировать', edit_professor_path(professor), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Удалить', professor, method: :delete, data: { confirm: 'Вы уверены?' } , class: 'btn btn-mini btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить преподавателя', new_professor_path,class: 'btn btn-mini btn-primary'  %>
