
<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal col-md-3" >
  <div class="input-form">
    
    <label for ="num"><b>Номер аудитории</b></label>
    <%= f.text_field :name, class: "form-control", id: "num" %>
  </div>
  <div class="field">
     
    <label for ="bool">  <b>Лабораторная</b> </label>
    <%= f.check_box :lab, class: "form-control", id:"bool" %>
  </div>
  <div class="field">
     
     <label for ="nums"> <b>Количество мест</b></label>
    <%= f.number_field :size, class: "form-control", id: "nums" %>
  </div>
  <div class="actions" >
    <%= f.submit "Сохранить", class: "btn btn-primary" %>
</div>
  </div>
<% end %>

