<!DOCTYPE html>
<html>
<head>
  <title>Система автоматизации</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse ">
   
      <div class="container">
         
        <div class="container-fluid">
      <% if user_signed_in? %>    
          <ul class="nav navbar-nav  ">

 <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Расписание
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              

            <li><%= link_to "Текущее расписание", root_path %></li>
              <li class="divider"></li>
              
            <li><%= link_to "Генерация нового расписания", root_path(d: true) %></li>
            </ul>
          </li>
            <li><%= link_to "Преподаватели", professors_path %></li>
            <li><%= link_to "Аудитории", rooms_path %></li>
            <li><%= link_to "Группы", groups_path %></li>
               <li><%= link_to "Дисциплины", courses_path %></li>
              <li><%= link_to "Занятия", clas_path %></li>
              </ul>
  <ul class="nav navbar-nav navbar-right  ">

    <!--
            <p class="navbar-text"><%= current_user.email  %></p>
  <li><%= link_to 'Редактировать профиль', edit_user_registration_path, :class => 'navbar-link' %></li>
 <li><%= link_to "Выйти", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>

 -->
              <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <%= current_user.email  %> 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'Редактировать профиль', edit_user_registration_path %> </li>
              <!-- <li><a href='#'>Техподдержка</a></li> -->
              <li class="divider"></li>
              <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
              </ul>
          
        </div>
      </div>
    </nav>
           <% end %>
 
 <div class="container-fluid">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
<!--
  Выполнен вход <strong><%= current_user.email %></strong>.
  <%= link_to 'Редактировать профиль', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Выйти", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
-->
<% else %>
  <!--<%= link_to "Зарегистрироваться", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Войти", new_user_session_path, :class => 'navbar-link'  %> -->
<% end %>

</div>
</body>
</html>
